.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 15px 0;
  width: 100%;
}

.header-logo {
  font-family: 'Grandstander', cursive;
  font-weight: 200;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 3px;
  color: rgb(217, 141, 25);
  text-shadow: -1px 0.5px rgb(0, 0, 0), 0.5px 1px rgb(0, 0, 0),
    1px 0.5px rgb(0, 0, 0), 0.5px -1px rgb(0, 0, 0);
}

.header-icon {
  width: 25px;
  height: 25px;
  background-image: url('../../../assets/fox.png');
  background-size: contain;
}

.open-settings {
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  z-index: 5;
  transition: all 0.5s;
}

.open-settings-toggle,
.open-settings::after,
.open-settings::before {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(217, 141, 25);
  content: '';
  cursor: pointer;
}

.open-settings::after {
  top: 0;
}

.open-settings::before {
  bottom: 0;
}

.open-settings-toggle {
  top: 45%;
}

.hidden {
  display: none;
}

.open-settings.active::before {
  top: 50%;
  transform: rotate(-45deg);
}

.open-settings.active::after {
  top: 50%;
  transform: rotate(45deg);
}
